h3 {
  color: #bee1e6 ;
  font-size: 45px;
}

body {
  background-color: #0077b6;
}

img {
  border: solid 12px #168aad;
}

img:hover {
  border: dashed 12px #ffc300 ;
}

h3:hover {
  color:#ffc300;
  font-size: 45px;
}
nav {
  list-style-type: none;
  position: fixed;
  background-color: #bee1e6;
  top: 10;
  width: 30%;
  left: 10;
}
li{
  display: inline;
  padding: 15px;
  float: left;
}
li:hover {
  background-color: #ffc300;
}
a {
  text-decoration: none;
  color:#0077b6 ;
}
